<h1> <%= @film.name %> </h1>
<p> <%= @film.description %></p>
<p> Average Rating: <%= @film.average_rating %></p>
<a href=<%= @film.imdb_link %>>Imdb Link</a>
<br/>
<br/>
<a href=<%= "/films/#{@film.id}/reviews/new" %>>Add Review</a>
<br/>
<br/>

<h3>Reviews</h3>
<div class="review-box">
  <% @film.reviews.each do |review| %>
    <div class="review-wrapper">
      <p><span class="green mr-8"><%= review.reviewer_name%></span>
      <span class="mr-8"><%= review.content %></span>
      <span class="green">Rating: <%= review.rating %></span>
      </p>
    </div>
  <% end %>
</div>
